<template>
  <v-app-bar
    class="pa-0 ma-0"
    :clipped-left="clipped"
    app
    style="backgroundImage: url('/images/background.jpg'); opacity: 0.7;"
    height="48px"
    dark
    dense
  >
    <v-container class="ma-0 pa-0">
      <v-row
        align-center
        justify-center
        style="backgroundColor: rgba(33, 90, 155, 0.61); width: 100%; height: 100%;  "
      >
        <!-- //Логотип Технокома -->
        <v-col
          class="flex-shrink-4 d-flex pa-0 ma-0"
          justify-end
          align-center
          cols="1"
          style="height: 48px;  max-width: 48px; width: 48px; z-index:999;"
        >
          <v-img src="/images/familia-avatar.png" @click="goTo('/')"></v-img>
        </v-col>
        <!-- // -->
        <!-- //Блок со вкладками -->
        <v-col class="flex-grow-4 flex-shrink-3 d-flex" cols="5" v-if="this.$auth.loggedIn">
          <top-tabs></top-tabs>
        </v-col>
        <!-- // -->
        <!-- //Картинка Техноком Бета -->
        <v-col
          class="flex-grow-1 flex-shrink-1"
          cols="1"
          v-if="$vuetify.breakpoint.width > 1145"
          style="height: 100%;  max-width: 600px; width: 125px; "
        >
          <v-img src="/images/logo.png" width="125px" />
        </v-col>
        <!-- // -->
        <v-spacer />

        <!-- <client-only> -->
        <!-- //Кнопки-иконки с подсказками -->
        <v-col class="pa-1 flex-grow-0 d-flex" cols="2">
          <div
            align-center
            style="height: 48px; max-width: 48px; min-width:0px; margin: -3px"
            v-for="(btn, i) in items"
            :key="i"
          >
            <v-tooltip bottom v-if="btn.onlyLoggedIn">
              <template v-slot:activator="{ on }">
                <v-btn
                  icon
                  fab
                  @click="goTo(btn.to)"
                  :btn_text="btn.title"
                  v-if="btn.onlyLoggedIn"
                  @clicked="goTo($event)"
                  v-on="on"
                >
                  <v-icon>{{btn.icon}}</v-icon>
                </v-btn>
              </template>
              <span>{{btn.title}}</span>
            </v-tooltip>
          </div>
        </v-col>
        <!-- // -->
        <v-spacer />
        <!-- //Кнопка вход-выход -->
        <v-col
          class="flex-grow-1 flex-shrink-1"
          cols="1"
          style="height: 48px; max-width: 48px;width: 48px;  padding: 2px 0 0 "
          :style="buttonExitMargin"
        >
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                fab
                @click="itemLogInOut.to"
                :btn_text="itemLogInOut.title()"
                @clicked="goTo($event)"
                v-on="on"
              >
                <v-icon>{{itemLogInOut.icon()}}</v-icon>
              </v-btn>
            </template>
            <span>{{itemLogInOut.title()}}</span>
          </v-tooltip>
        </v-col>
        <!-- // -->
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
import Vue from "vue";
import topTabs from "~/components/menu/topTabs";

export default {
  data() {
    return {
      clipped: true,

      items: [
        {
          icon: "mdi-earth",
          title: "Вселенная",
          to: "/",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-newspaper",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-google-circles-communities",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-google-circles-group",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-nature-people",
          title: "Знания",
          to: "/akd",
          onlyLoggedIn: true
        },
        {
          icon: "mdi-wechat",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "mdi-star-circle",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: this.$auth.loggedIn
        }
      ],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "mdi-login-variant"
            : "mdi-logout-variant";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout();
          }
        }
      },

      miniVariant: false
    };
  },
  components: {
    topTabs
  },

  watch: {
    "$auth.loggedIn": function(cur, old) {
      this.loading = !cur;
    }
  },

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    snackText() {
      if (this.$store.state.system.messages.length === 0) {
        return { text: "", color: null };
      }

      return this.$store.state.system.messages[0];
    },

    buttonExitMargin() {
      return this.$vuetify.breakpoint.width > 1145
        ? "margin: 0px 122px 0;"
        : "";
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {},
  updated() {},
  created() {}
};
</script>

<style >
</style>
