<template >
  <v-app-bar
    :clipped-left="clipped"
    app
    color="rgba(33, 90, 155, 0.01)"
    :style="barStyle2"
    dark
    dense
    tile
    flat
    fixed
    style="   align-self: center;    width: 1260px; margin: 0 0 auto;"
    permanent
  >
    <v-img
      src="/icons/logo2.png"
      @click="$store.commit('tabLogic/leftDrawer', $vuetify.breakpoint.width)"
      contain
      max-height="48px"
      max-width="48px"
    ></v-img>

    <v-tabs hide-slider>
      <v-tab
        v-for="tabItem in mystore.state.tabLogic.tabs"
        :key="tabItem.name"
        v-on:click="clickOnTab(tabItem.id)"
        :style="mystore.getters['tabLogic/imageStyle'](tabItem.id)"
      >{{!tabItem.min ? tabItem.name:""}}</v-tab>
    </v-tabs>
    <v-avatar tile v-show="$vuetify.breakpoint.width > 860">
      <v-img
        :src="item0.icon()"
        @click="goTo(item0.to)"
        v-if="item0.onlyLoggedIn"
        @clicked="goTo($event)"
        :title="item0.title"
      ></v-img>
    </v-avatar>
    <v-spacer />

    <!-- <v-img src="/images/logo.png" max-width="125px" v-if="$vuetify.breakpoint.width > 1145" /> -->
    <div v-for="(btn, index) in items" :key="'A'+index" v-show="$vuetify.breakpoint.width > 860">
      <v-avatar tile>
        <v-img
          :src="btn.icon"
          @click="goTo(btn.to)"
          v-if="btn.onlyLoggedIn"
          @clicked="goTo($event)"
          :title="btn.title"
        ></v-img>
      </v-avatar>
    </div>
    <v-spacer />
    <div v-for="(btn, index) in items2" :key="'B'+index" v-show="$vuetify.breakpoint.width > 860">
      <v-avatar tile>
        <v-img
          :src="btn.icon"
          @click="goTo(btn.to)"
          v-if="btn.onlyLoggedIn"
          @clicked="goTo($event)"
          :title="btn.title"
        ></v-img>
      </v-avatar>
    </div>

    <v-avatar tile v-show="$vuetify.breakpoint.width > 860">
      <v-img
        :src="itemLogInOut.icon()"
        @click="goTo(itemLogInOut.to)"
        @clicked="goTo($event)"
        :title="itemLogInOut.title()"
      ></v-img>
    </v-avatar>

    <v-menu
      v-if="$vuetify.breakpoint.width < 860"
      bottom
      left
      dark
      transition="scale-transition"
      origin="center center"
      open-on-hover
    >
      <template v-slot:activator="{ on }">
        <v-btn text class="align-self-center mr-4" v-on="on">
          <v-icon right>mdi-menu-down</v-icon>
        </v-btn>
      </template>

      <v-list>
        <v-list-item>
          <v-avatar tile>
            <v-img
              :src="item0.icon()"
              @click="goTo(item0.to)"
              v-if="item0.onlyLoggedIn"
              @clicked="goTo($event)"
              :title="item0.title"
            ></v-img>
          </v-avatar>
        </v-list-item>
        <v-list-item
          v-for="(item, i) in items"
          :key="item.title+'C'+i"
          link
          v-show="item.onlyLoggedIn"
        >
          <v-avatar tile>
            <v-img
              :src="item.icon"
              @click="goTo(item.to)"
              @clicked="goTo($event)"
              :title="item.title"
            ></v-img>
          </v-avatar>

          <!-- <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item.to)">{{ item.title }}</v-list-item-title>
          </v-list-item-content>-->
        </v-list-item>
        <v-list-item
          v-for="(item, i) in items2"
          :key="item.title+'D'+i"
          link
          v-show="item.onlyLoggedIn"
        >
          <v-avatar tile>
            <v-img
              :src="item.icon"
              @click="goTo(item.to)"
              @clicked="goTo($event)"
              :title="item.title"
            ></v-img>
          </v-avatar>

          <!-- <v-list-item-content>
            <v-list-item-title @clicked="goTo($event)" @click="goTo(item.to)">{{ item.title }}</v-list-item-title>
          </v-list-item-content>-->
        </v-list-item>
        <v-list-item>
          <v-avatar tile>
            <v-img
              :src="itemLogInOut.icon()"
              @click="goTo(itemLogInOut.to)"
              @clicked="goTo($event)"
              :title="itemLogInOut.title()"
            ></v-img>
          </v-avatar>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script>
import Vue from "vue";
import tinycolor from "tinycolor2";

export default {
  data() {
    return {
      clipped: true,
      mystore: this.$store,

      item0: {
        icon: () => {
          return this.$store.state.tabLogic.tabs[
            this.$store.state.tabLogic.currentTab
          ].imageMin;
        },
        title: "Вселенная",
        to: "/",
        onlyLoggedIn: true
      },

      items: [
        {
          icon: "/icons/icon1.png",
          title: "Новости",
          to: "/nov",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon2.png",
          title: "Сообщества",
          to: "/kom",
          onlyLoggedIn: true
        },

        {
          icon: "/icons/icon3.png",
          title: "Академия",
          to: "/akd",
          onlyLoggedIn: true
        },
        {
          icon: "/icons/icon4.png",
          title: "Энциклопедия",
          to: "/akd",
          onlyLoggedIn: true
        }
      ],

      items2: [
        {
          icon: "/icons/tab4_2.png",
          title: "Инициативы",
          to: "/bat",
          onlyLoggedIn: this.$auth.loggedIn
        },

        {
          icon: "/icons/tab4_1.png",
          title: "Общение",
          to: "/knf",
          onlyLoggedIn: this.$auth.loggedIn
        },
        {
          icon: "/icons/tab4_3.png",
          title: "Товарищи",
          to: "/kmr",
          onlyLoggedIn: this.$auth.loggedIn
        }
      ],
      itemLogInOut: {
        icon: () => {
          return !this.$auth.loggedIn
            ? "/icons/iconOn.png"
            : "/icons/iconOff.png";
        },
        title: () => {
          return !this.$auth.loggedIn ? "Войти" : "Выйти";
        },

        to: () => {
          if (!this.$auth.loggedIn) {
            this.$siriuso.showLoginForm();
          } else {
            this.$auth.logout()
              .then(() => window.location.reload(true));
          }
        }
      },
      clickOnTab(tab) {
        this.$store.commit("tabLogic/clickOnTab", tab);

        // this.$root.$emit("changeCurrentTab", this.currentTab);
      },
      // currentTab: 0,

      miniVariant: false
    };
  },
  components: {},

  watch: {
    "$auth.loggedIn": function(cur, old) {
      this.loading = !cur;
    }
  },

  computed: {
    showLoginForm: {
      set: function(val) {
        this.$store.commit("system/setShowLoginForm", val);
      },

      get: function() {
        return this.$store.state.system.show_login_form;
      }
    },

    snackText() {
      if (this.$store.state.system.messages.length === 0) {
        return { text: "", color: null };
      }

      return this.$store.state.system.messages[0];
    },

    barStyle2: function() {
      if (this.$store) {
        let color = this.$store.getters["tabLogic/backgroundColor"];
        let tiny0 = tinycolor(color);
        let tiny1 = tiny0.clone();
        let tiny2 = tiny0.clone();
        tiny0.setAlpha(1);
        tiny1.setAlpha(0.7);
        tiny2.setAlpha(0);
        let deg = "60deg";
        let gradEnd = "50%";
        let gradBegin = "100%";

        return `background: ${tiny0.toRgbString()}; background: -moz-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: -webkit-linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); background: linear-gradient(${deg}, ${tiny1.toRgbString()} ${gradEnd}, ${tiny2.toRgbString()} ${gradBegin}); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="${tiny0.toHexString()}",endColorstr="${tiny0.toHexString()}",GradientType=1);`;
      }
    },
    imageStyle(tabItem) {
      return `background-image: url( ${
        !tabItem.min ? tabItem.imageFull : tabItem.imageMin
      }`;
    }
  },

  methods: {
    goTo(action) {
      if (typeof action === "string") {
        this.$router.push(action);
      } else if (typeof action === "function") {
        action();
      }
    }
  },

  mounted() {},
  updated() {},
  created() {}
};
</script>

<style >
.v-tab {
  color: white;
  min-width: 60px;

  /* width: 205px; */
  margin-left: -12px;
  font-weight: 1000;
  /* max-width: 205px; */
}
div.v-tab:nth-child(1) {
  /* color: white; */
  margin-left: 0px;
  /* width: 205px; */
}

div#blueStyle.v-tab {
  background-image: url(/icons/tab2_1.png);
}
div#redStyle.v-tab {
  background-image: url(/icons/tab1_1.png);
}
div#greenStyle.v-tab {
  background-image: url(/icons/tab3_1.png);
}
</style>
